:root {
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;
    --space-xl: 4rem;
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 16px;
    --radius-xl: 24px;
    --color-primary-foreground: #222222;
    --color-secondary-foreground: #555555;
    --leading-fine: 1.2;
    --font-medium: 500;
    --flow-space: var(--space-md);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    background-color: #f9f9f9;
    color: var(--color-primary-foreground);
}

[class^="flow"] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

[class^="flow"]>*+* {
    margin-block-start: var(--flow-space);
}

.flow-l>*+* {
    --flow-space: var(--space-lg);
}

.flow-sm>*+* {
    --flow-space: var(--space-sm);
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: var(--space-md);
}

[class^="cluster"] {
    display: flex;
    gap: var(--space, 1rem);
    align-items: center;
}

.cluster--space-between {
    justify-content: space-between;
}

label {
    line-height: var(--leading-fine);
    font-weight: var(--font-medium);
}

label::after {
    content: '\A';
    white-space: pre;
}


:is(input:not([type='checkbox'], [type='radio'], [type='color']), textarea) {
    padding: 0.5em 0.8em;
    border-radius: var(--radius-sm);
    border: 1px solid var(--color-primary-foreground);
}

:is(select) {
    padding: 0.25em 0.5em;
    border-radius: var(--radius-sm);
    border: 1px solid var(--color-primary-foreground);
}

header {
    margin-block-start: var(--space-xl);
}

button {
    border-radius: var(--radius-sm);
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: hsl(188, 31%, 81%);
    font-weight: var(--font-medium);
    font-size: 1.12rem;
    color: var(--color-primary-foreground);

    &>span {
        will-change: transform;
        display: block;
        background-color: hsla(186, 44%, 92%, 1);
        border-radius: var(--radius-sm);
        transform: translateY(-3px);
        padding: var(--space-sm) var(--space-md);
        transition:
            transform 400ms cubic-bezier(.3, .7, .4, 1);
    }
    
    &:hover > span {
        transform: translateY(-4px);
        transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
    }

    &:active>span {
        transform: translateY(-1px);
        transition: transform 35ms;
    }
}