:root {
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 16px;
    --color-primary-foreground: #222222;
    --flow-space: var(--space-md);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    background-color: #f9f9f9;
}

.flow > * + * {
    margin-top: var(--flow-space);
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: var(--space-md);
}