:root {
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 16px;
    --radius-xl: 24px;
    --color-primary-foreground: #222222;
    --leading-fine: 1.2;
    --font-medium: 500;
    --flow-space: var(--space-md);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    background-color: #f9f9f9;
}

[class^="flow"] {
    display: flex; 
  flex-direction: column;
  justify-content: flex-start;
}

[class^="flow"] > * + * {
    margin-block-start: var(--flow-space);
}

.flow-l > * + * {
    --flow-space: var(--space-lg);
}

.flow-sm > * + * {
    --flow-space: var(--space-sm);
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: var(--space-md);
}

[class^="cluster"] {
    display: flex;
    gap: var(--space, 1rem);
    align-items: center;
}

.cluster--space-between {
    justify-content: space-between;
}

label {
  line-height: var(--leading-fine);
  font-weight: var(--font-medium);
}

label::after {
  content: '\A';
  white-space: pre;
}


:is(input:not([type='checkbox'], [type='radio'], [type='color']), select, textarea) {
  padding: 0.5em 0.8em;
  border-radius: var(--radius-sm);
  border: 1px solid var(--color-primary-foreground);
}