:root {
    --space-2xs: clamp(0.5rem, 0.4489rem + 0.2273vw, 0.625rem);
    --space-xs: clamp(0.75rem, 0.6733rem + 0.3409vw, 0.9375rem);
    --space-s: clamp(1rem, 0.8977rem + 0.4545vw, 1.25rem);
    --space-m: clamp(1.5rem, 1.3466rem + 0.6818vw, 1.875rem);
    --space-l: clamp(2rem, 1.7955rem + 0.9091vw, 2.5rem);
    --space-xl: clamp(3rem, 2.6932rem + 1.3636vw, 3.75rem);
    --space-2xl: clamp(4rem, 3.5909rem + 1.8182vw, 5rem);
    --gutter: var(--space-s);
    --radius-s: 4px;
    --radius-m: 8px;
    --radius-lg: 16px;
    --radius-xl: 24px;
    --color-primary: hsl(188, 31%, 81%);
    --color-primary--light: hsl(187, 63%, 87%);
    --color-primary-foreground: #222222;
    --color-secondary-foreground: #555555;
    --leading-fine: 1.2;
    --font-medium: 500;
    --flow-space: var(--space-m);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    background-color: #f9f9f9;
    color: var(--color-primary-foreground);
    min-height: 100vh;
}

:is(input, select, textarea, label) {
  accent-color: var(--color-primary);
  -webkit-tap-highlight-color: transparent;
}

label {
    line-height: var(--leading-fine);
    font-weight: var(--font-medium);
}

label::after {
    content: '\A';
    white-space: pre;
}


:is(input:not([type='checkbox'], [type='radio'], [type='color']), textarea) {
    padding: 0.5em 0.8em;
    border-radius: var(--radius-s);
    border: 1px solid var(--color-primary-foreground);
}

:is(select) {
    padding: 0.25em 0.5em;
    border-radius: var(--radius-s);
    border: 1px solid var(--color-primary-foreground);
}

header {
    padding-block-start: var(--space-xl);
}

button {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    border-radius: var(--radius-m);
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: hsl(188, 31%, 81%);
    font-weight: var(--font-medium);
    font-size: 1.12rem;
    color: var(--color-primary-foreground);
    outline-offset: 4px;
    
    /* do not apply focus outline on click/touch */
    &:focus:not(:focus-visible) {
        outline: none;
    }

    &>span {
        will-change: transform;
        display: block;
        background-color: hsl(187, 63%, 87%);
        border-radius: var(--radius-m);
        transform: translateY(-3px);
        padding: var(--space-2xs) var(--space-xs);
        transition:
            transform 400ms cubic-bezier(.3, .7, .4, 1);
    }
    
    &:hover > span {
        transform: translateY(-4px);
        transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
    }

    &:active>span {
        transform: translateY(-1px);
        transition: transform 35ms;
    }
}

button.secondary {
    font-size: 0.8rem;
    color: var(--color-secondary-foreground);
    background-color: hsl(0, 0%, 85%);
    & > span {
        padding: 0.4em 0.6em;
        background-color: hsl(0, 0%, 100%);
        border: 1px solid hsl(0deg 0% 81.79%);
        transform: translateY(-2px);
    }
    &:hover > span {
        transform: translateY(-3px);
        transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
    }

    &:active>span {
        transform: translateY(-1px);
        transition: transform 35ms;
    }
}

.card {
    padding-block: var(--space-s);
    background-color: hsl(0, 0%, 99%);
    border-radius: var(--radius-m);
    border: 2px solid hsl(0deg 0% 81.79%)
    
}

:is(h1,
h2,
h3,
h4) + * {
    --flow-space: var(--space-xs);
}

.text-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}