/*
WRAPPER COMPOSITION 
A common wrapper/container
*/
.wrapper {
  margin-inline: auto;
  max-width: var(--wrapper-max-width, 600px);
  padding-inline-start: var(--gutter);
  padding-inline-end: var(--gutter);
  position: relative;
}
