---
import { db, Todos } from 'astro:db';
import Layout from '../layouts/Layout.astro';
import TodosComponent from '../components/todos.vue';

const todos = await db.select().from(Todos);
---

<Layout>
	<div class="wrapper flow">
		<h1>Groceries</h1>
		<TodosComponent 
			client:load
			initialTodos={todos} />
	</div>
</Layout>
