---
import Layout from "../layouts/Layout.astro";
import SignInForm from "../components/sign-in-form.vue";
import { auth } from "../libs/auth";

export const prerender = false;
const session = await auth.api.getSession({
	headers: Astro.request.headers,
});
---

<Layout>
	<main class="wrapper flow">
		<header>
			<h1>🛒 Grocery List</h1>
		</header>
		<SignInForm />
		<p><a href="/sign-up">Sign up</a> to create a new account</p>
	</main>
</Layout>
