---
import { db, Todos } from 'astro:db';
import Layout from '../layouts/Layout.astro';
import TodosComponent from '../components/todos.vue';
import { auth } from "../libs/auth";

export const prerender = false;
const session = await auth.api.getSession({
    headers: Astro.request.headers,
});

const todos = await db.select().from(Todos);
---

<Layout>
	{session ? (
		<button id="sign-out"><span>Sign out</span></button>
		<div class="wrapper flow">
			<TodosComponent 
				client:load
				initialTodos={todos} />
		</div>
	) : (
		<div style="height: 100%; display: grid; place-items:center;">
			<div class="flow-l">
				<h1>🛒 Grocery List</h1>
				<div class="flow-md">
					<div class="flow-sm">
						<label for="email">Email</label>
						<input id="email" type="email">
					</div>
					<div class="flow-sm">
						<label for="pass">Password</label>
						<input id="pass" type="password"> 
					</div>
					<div class="cluster--space-between">
						<button id="sign-up" class="secondary"><span>Sign up</span></button>
						<button id="sign-in"><span>Sign in</span></button>
					</div>
				</div>
			</div>
		</div>		
	)}
</Layout>

<script>
	const { signIn, signOut } = await import('../libs/auth-client.ts');
	document.getElementById('sign-in')?.addEventListener('click', async () => {
		const { data, error } = await signIn.email({
			email,
			password,
		})
	});
	document.getElementById('sign-out')?.addEventListener('click', async () => {

	});
</script>